spring:
  profiles:
    active: dev
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  application:
    name:Blog

  data:
    mongodb:
      uri: ${MONGO_URI}
      database: BlogDb
      auto-index-creation: true

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${EMAIL}
    password: ${PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

secretKey: ${SECRET_KEY}

openrouter:
  api:
    key: ${API_KEY}